* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* logo */

#logo {
  margin: auto;
}

/*--------------------------- navigation bar-------------------------------- */
#navbar {
  display: flex;
  text-decoration: none;
  align-items: center;
  box-shadow: 5px 5px 5px rgb(135, 134, 134);
  position: sticky;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(237, 220, 190);
  z-index: 1;
}

#navbar ul {
  display: flex;
  margin: 30px auto 0px 135px;
  padding: 9px;
  /* text-decoration: none; */
}

#navbar ul li {
  margin: 0px 80px 0px 0px;
  /* text-decoration: none; */
  list-style: none;
}

#navbar ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
  border: 20px;
}

/* #navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    top: 0px;
    left: 0px;
} */
#navbar ul li a:hover {
  background-color: rgb(232, 171, 171);
  color: aliceblue;
  border-radius: 20% 60%;
  color: black;
}

/* --------------------------home section -------------------------------*/
#home {
  display: flex;
  justify-content: center;
  gap: 50px;
  /* justify-content: space-around; */
  align-items: center;
  padding-top: 5px;
  margin-top: 20px;
}

/* box section also can be treated as flex then flex direaction colum 
align-self: start for sizing buttons and tag*/
#box {
  width: 350px;
  height: 370px;
  /* background-color: rgb(104, 103, 103); */
  /* border: 2px solid black; */
  /* text-align: center; */
  /* border-radius: 20px; */
  /* box-shadow: 0px 3px 3px 0px rgb(71, 67, 67) ; */
}

#box h1 {
  font-size: 3rem;
  margin-top: 10px;
  align-items: baseline;
}

.tag {
  background-color: green;
  color: antiquewhite;
  width: 160px;
  border: 2px solid white;
  border-radius: 10px black;
  font-size: large;
}

#box p {
  font-size: 1.4rem;
  margin-top: 10px;
}

#box:hover {
  /* cursor: pointer; */
  border: 1.5px solid rgb(135, 230, 135);
  border-radius: 10px;

}

.tag:hover {
  cursor: pointer;
}

.btn {
  margin: 8px 10px;
  background-color: rgb(243, 64, 24);
  border: 1.3px solid rgb(239, 243, 227);
  /* background-color: linear-gradient(to bottom right, red, yellow); */
  border-radius: 15px;
  padding: 9px;
  color: rgb(255, 254, 254);
  font-size: 1rem;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(134, 225, 112);
  color: rgb(255, 254, 254);
  /* border: black; */
}

/* service box */
#service {
  display: flex;
  justify-content: space-around;
  align-self: center;
  margin-top: 100px;
  margin-bottom: 50px;

}

.service1 {
  display: flex;
  gap: 20px;
}

.service1 img {
  width: 80px;
}

.service1 img:hover {
  transform: scale(1.05);
}

#service1:hover {
  /* transition: 5s  ease-out ; */
  transform: scale(1.07);
  /* border: 1.2px solid rgb(175, 233, 87); */
  /* box-shadow: 3px rgb(60, 49, 42); */
  cursor: pointer;
  margin-left: 30px;
  margin-right: 30px;
}

.service-title h3 {
  font-weight: bolder;
  font-size: 1.3epm;
}

/* line ------------------------------------------*/
/* .devider{
    border: 1.8px solid rgb(107, 102, 102);
    margin: 10px 0px;
} */

/* menu srction ------------------------------------------*/
#menu h1 {
  /* align-self: center; */
  font-size: 2rem;
}

#menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 30px 0;
  align-items: center;
}

#menu .tag1 {
  align-self: center;
  background-color: green;
  margin: 3px 3px 3px 3px;
  border: 1px solid black;
  padding: 4px 15px;
}

/* grid box------------------------------------------- */
.grid-image {
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}

.grid-image:hover {
  transform: scale(1.03);
  /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
}

.item1 {
  grid-area: I1;
}

.item2 {
  grid-area: I2;
}

.item3 {
  grid-area: I3;
}

.item4 {
  grid-area: I4;
}

.item5 {
  grid-area: I5;
}

.item6 {
  grid-area: I6;
}

.item7 {
  grid-area: I7;
}


/* footer */
footer {
  display: flex;
  justify-content: space-around;
  background-color: bisque;
  width: 100%;
  height: 100%;
}

footer .line {
  list-style: none;
  /* text-decoration: none; */
}

footer .line h3 {
  margin-bottom: 8px;
  cursor: pointer;
}

footer .line ul {
  list-style: none;
  cursor: pointer;
}

footer .line ul li {
  margin-bottom: 4px;
  /* cursor: pointer; */
}

.news input {
  height: 26px;
  padding: 4px 10px;
}